@{
    ViewData["Title"] = "Table Pokemon";
}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 id="judul" class="mb-10">Pokémons</h1>
        </div>
    </div>
</div>

<table class="table">
    <thead class="text-center">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="tabelPoke">
        <tr>
            <td></td>
            <td></td>
            <td >
                <button class="btn btn-primary"> Detail</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="pokeModal" tabindex="-1" role="dialog" aria-labelledby="pokeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Pokémon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row border">
                    <div class="col text-center">
                        <h2 id="pname" ></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-5">
                        <h5 class="text-center bg-primary p-2 text-light bg-gradient-primary">STATS</h5>
                        <table class="table" id="statlist"></table>
                    </div>
                    <div class="col text-center">
                        <img id="av" src="#" height="350" width="350" alt="Pokemon Picture" />
                        @*<p class="m-2 h4" id="poke-type"></p>*@
                    </div>
                    <div class="col">
                        <h5 class="text-center bg-primary p-2 text-light">EXTRA</h5>
                        <table class="table">
                            <tr>
                                <td class="font-weight-bold">HEIGHT</td>
                                <td id="poke-height" class="h5"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">WEIGHT</td>
                                <td id="poke-weight" class="h5"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">ABILITY</td>
                                <td id="poke-ability" class="h5 font-italic"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">TYPE</td>
                                <td id="poke-type" class="h5 font-italic"></td>


                            </tr>
                            @*<tr>
                                <td class="font-weight-bold">MOVES</td>
                                <td id="poke-move" class="h5 font-italic"></td>
                            </tr>*@


                        </table>
                        @*<h6>Type</h6>
                            <span class="badge badge-primary mr-2">Primary</span><span class="badge badge-primary">Primary</span>
                            <h6>Abilities</h6>
                            <span class="badge badge-primary mr-2">Primary</span><span class="badge badge-primary">Primary</span>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Pokemon.js"></script>
}
