@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin"; //cari folder Shared
}


@*chart*@
<div class="row">
    <div class="col-lg-5 m-1">
        <div class="card card-danger">
            <div class="card-shadow h-100">

                <div class="card-header">
                    <h3 class="card-title">University Chart</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @*<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 50%;"></canvas>*@
                    <div id="university-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 m-1">
        <div class="card card-blue">
            <div class="card-shadow h-100">
                <div class="card-header">
                    <h3 class="card-title">Gender Chart</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @*<canvas id="chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 50%;"></canvas>*@
                    <div id="gender-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-5 m-1">
        <div class="card card-danger">
            <div class="card-shadow h-100">

                <div class="card-header">
                    <h3 class="card-title">Salary Chart</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    -->
                    @*<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 50%;"></canvas>*@
                    <div id="salary-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Chart.js"></script>
}
