@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin"; //cari folder Shared
}
<!-- /.content-wrapper -->
<div class="container=fluid">
    <div class="row">
        <div class="col">
            <h1 id="judul" class="text-center mb-10">List Employees</h1>
            <button type="button" class="btn btn-info mb-10" data-toggle="modal" data-target="#registerEmployee">+Registrasi</button>
        </div>
    </div>
</div>
<table class="table table-striped" id="tableEmployee">
    <thead>
        <tr>
            <th scope="col">NIK</th>
            <th scope="col">Full Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">University Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@*modal register*@
<div class="modal" id="registerEmployee" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrasi Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-regist">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" name="FirstName" pattern=".{2,}" placeholder="John" @*required*@>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="LastName" pattern=".{2,}" placeholder="Aaaa" @*required*@>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <select class="form-control" id="gender" name="Gender" @*required*@>
                            <option>Choose Your Gender</option>
                            <option value=0>Male</option>
                            <option value=1>Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Birthdate</label>
                        <input type="date" class="form-control" id="birthdate" name="birthdate" @*required*@>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="08xxxxxxxxxx" @*required*@>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" @*required*@>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" @*pattern=".{8,}" title=" 8 or more characters" required*@>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" name="salary" placeholder="0 - ~" @*required*@>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="university">University</label>
                                <select class="form-control" id="university" name="university" @*required*@>
                                    <option>Choose Your University</option>
                                    <option value=1>TELKOM</option>
                                    <option value=2>ITB</option>
                                    <option value=3>IPB</option>
                                    <option value=4>UNAND</option>
                                    <option value=5>UNP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="degree">Degree</label>
                                <select class="form-control" id="degree" name="degree" @*required*@>
                                    <option>D3</option>
                                    <option>D4/S1</option>
                                    <option>S2</option>
                                    <option>S3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="gpa">GPA</label>
                                <input type="text" class="form-control" id="GPA" name="gpa" placeholder="0,00 - 4,00" @*required*@>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*edit modal*@

<div class="modal" id="editEmployee" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Data Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-edit">

                    <div class="form-group">
                        @*<label for="editnik">NIK</label>*@
                        <input type="text" class="form-control" id="editnik" name="editnik" @*required*@ hidden>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="editfname" name="editFirstName" pattern=".{2,}" placeholder="John" @*required*@>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="editlname" name="editLastName" pattern=".{2,}" placeholder="Aaaa" @*required*@>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <select class="form-control" id="editgender" name="editGender" @*required*@>
                            <option>Choose Your Gender</option>
                            <option value=0>Male</option>
                            <option value=1>Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Birthdate</label>
                        <input type="date" class="form-control" id="editbirthdate" name="editbirthdate" @*required*@>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="editphone" name="editphone" placeholder="08xxxxxxxxxx" @*required*@>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="editemail" name="editemail" placeholder="example@gmail.com" @*required*@>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="editsalary" name="editsalary" placeholder="0 - ~" @*required*@>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*chart*@
<!--<div class="row">
    <div class="col-lg-5 m-1">
        <div class="card card-danger">
            <div class="card-shadow h-100">

                <div class="card-header">
                    <h3 class="card-title">University Chart</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">-->
                    @*<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 50%;"></canvas>*@
                    <!--<div id="university-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 m-1">
        <div class="card card-blue">
            <div class="card-shadow h-100">
                <div class="card-header">
                    <h3 class="card-title">Gender Chart</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">-->
                    @*<canvas id="chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 50%;"></canvas>*@
                    <!--<div id="gender-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-5 m-1">
        <div class="card card-danger">
            <div class="card-shadow h-100">

                <div class="card-header">
                    <h3 class="card-title">Salary Chart</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">-->
                    @*<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 50%;"></canvas>*@
                    <!--<div id="salary-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<!-- Modal Detail -->
<div class="modal fade" id="detailEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Employee Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailEmployeeModal-Body">
                <table class="table">
                    <thead class="text-center">
                    </thead>
                    <tbody class="detailEmployee">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{


    <script src="~/js/Employee.js"></script>
    <script src="~/js/Chart.js"></script>


}

