@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLogin"; //cari folder Shared
}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/css/page.css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    401 Unauthorized
                </h2>
                <div class="error-details">
                    You don't have permission to access this page!
                </div>
                <div class="error-actions">
                    <p>Redirecet in <span id="timer"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Set the date we're counting down to
    var second = 5;

    // Update the count down every 1 second
    var setTimer = setInterval(function () {
        if (second <= 0) {
            document.getElementById("timer").innerHTML = 0;
        }
        else if (second > 0) {
            document.getElementById("timer").innerHTML = second - 1;
        }
        second -= 1;
    }, 1000);
    setTimeout(function () {
        window.location.href = "/Login";
    },second * 1000);
    //window.location.href = "/Login";
</script>